.description-wrapper {
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	padding: 5px 0 5px 0;
}

.favorite-picker {
    font-size: 20px;
    margin-right: 5px;
}

.action-wrapper .username {
	margin-left: 5px;
}

.action-wrapper .favorite-count {
	font-size: 14px;
}

.action-wrapper .glyphicon {
	cursor: pointer;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.image-wrapper img {
	border-radius: 5px;
	/*min-height: 112px;*/
}

.favorite-picker span {
	float:left;
}


/* ---- grid ---- */
.grid {
  background: #fff;
}

.grid-sizer,
.grid-item {
  width: 18%;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  min-height: 190px;
  padding: 5px;
  float: left;
  background: #f5f5f5;
  border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
}
