<h1 class="text-primary text-center">Image Adventures</h1>

<!--
<pre>Images: {{ images | json }}</pre>
-->

<div class="grid">
    <div class="grid-sizer"></div>
    
	<div *ngFor="let image of images; let i = index;" class="grid-item">
      <div class="image-wrapper">
        <img class="grid-image" src="{{ image.imgUrl }}" (error)="imgError(image);" />
      </div>
      <div class="description-wrapper text-center">
        {{ image.text }}
      </div>
      <div class="action-wrapper row">
        <div class="col-md-8 username">
            {{ image.username }}
        </div>
        <div class="col-md-3 pull-right favorite-picker">
            <span class="glyphicon glyphicon-star-empty favorite-logged-in" aria-hidden="true" (click)="incrementFavorite(i)"></span>
            <!-- IF YOU HAVE FAVORITED IT: glyphicon glyphicon-star-empty -->
            <!-- If you have not faved it: glyphicon glyphicon-star -->            
            <span class="favorite-count">{{ image.favoriteCount }}</span>
        </div>        
      </div>
    </div>   
    
</div>
