.description-wrapper {
	font-weight: bold;
	text-align: center;
	font-size: 15px;
	padding: 5px 0 5px 0;
}

.favorite-picker {
    font-size: 20px;
    margin-right: 5px;
}

.action-wrapper .username {
	margin-left: 5px;
}

.action-wrapper .favorite-count {
	font-size: 14px;
}

.action-wrapper .glyphicon {
	cursor: pointer;
}

.image-wrapper img {
	border-radius: 5px;
}

.favorite-picker span {
	float:left;
}

/* ---- grid ---- */
.grid {
  background: #fff;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  min-height: 160px;
  padding: 5px;
  float: left;
  background: #f5f5f5;
  border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }