h1 {
	color: white;
	background: darkgray;
	padding: 20px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  max-height: auto;
  vertical-align: middle;
  border: 2px solid lightgrey;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
  background: #fff;
}

.flex-item {
  background-color: #fff;
  margin: 10px;
  min-width: 100px;
  vertical-align: middle;
  position: relative;
  max-width: 200px;
  background: #f5f5f5;
  border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;  
}

.flex-item .close {
  float: none;
  vertical-align: top;
  margin-left: -20px;
  color: #dc143c;
  opacity: .7;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 1000;
  font-size: 40px;
} 