      nav a {
        color: #8f8f8f;
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        text-decoration: none;
        vertical-align: middle;
      }
      
      .navbar-brand {
        margin-top: -15px;
      }
      
      .navbar-brand img {
        height: 60px;
      }
      
      nav a.router-link-active {
        color: #106cc8;
      }  
      
.navbar-header img {
  height: 53px;
}      

.fa-twitter {
  color: #0084B4;
}